

*{
  margin: 0;
}

header {
padding: 20px;
text-align: center;
}

#search-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 50px;
  height: 15rem;
  background-image: url(../images/books-1204029_1920.jpg);
  background-size: cover; 
  background-position: center; 

  input {
  width: auto; 
  background-color: #f4f4f4; 
  border: 1px solid #ccc; 
  padding: 10px 40px 10px 10px; 
  border-radius: 5px;
  font-size: 16px; 
  }

  button{
    background-color: #007bff;
  color: #fff; 
  border: none; 
  padding: 8px 12px; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px; 
 
  }
}



.results{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    margin: 20px;
    background-color: rgba(245, 222, 179, 0.9);

    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(34, 33, 33,0.1); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombra leggera per profondità */
    /* Aggiungi qui ulteriori stili per la tua carta, come padding o bordi arrotondati */

    h2{
      margin-top: 10px;
      text-align: center;
    }

    p{
      margin: 10px 0;
      text-align: center;
    }

    button{
      margin-bottom: 10px;
    }

    &:hover{
      transform: scale(1.05); 
    }
  }

  .modal {
    display: none;
    color: wheat;
    border: 1px solid black;
    border-radius: 30px;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer;
      
    }

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      width: 80%;

      h1{
        text-align: center;
        padding: 20px;
      }

    
    }

  
  }

}

.infoWindow{
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-radius: 10px;
}



